<%= form_for @group do |f| %>
  <%= render 'shared/errors', object: @group %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_area :name, rows: 1, required: true, class: 'form-control' %>
  </div>
  <p class="text-center">
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  </p>
<% end %>
