<%= form_for @poll, class: "form-horizontal" do |f| %>
  <div class="container">
    <%= render 'shared/errors', object: @poll %>
    <input type="hidden" name="user_id" value="<%= current_user.id %>">

    <div class="form-group">
      <%= f.text_area :topic, rows: 1, required: true, class: 'form-control', placeholder: "Poll topic" %>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <%= f.fields_for :vote_options do |options_form| %>
          <%= render 'vote_option_fields', f: options_form %>
        <% end %>

        <div class="links">
          <%= link_to_add_association f, :vote_options, class: "btn btn-info" do%>
            Add Option +
          <% end %>
        </div>
      </div>
    </div>

    <p class="text-xs-center" style="padding-top:40px;">
      <%= f.submit 'Create Poll', class: 'btn btn-primary' %>
    </p>
  </div>
<% end %>
